.vs/
.vs/
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
angular/dist
angular/tmp
angular/out-tsc
/bazel-out

# Node
angular/node_modules
angular/npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/mobileapp/local.settings.json
/mobileapp/[Dd]ebug/
/mobileapp/[Dd]ebugPublic/
/mobileapp/[Rr]elease/
/mobileapp/[Rr]eleases/
/mobileapp/x64/
/mobileapp/x86/
/mobileapp/bld/
/mobileapp/[Bb]in/
/mobileapp/[Oo]bj/
/mobileapp/[Ll]og/
