.vs/
.vs/
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
angular/dist
angular/tmp
angular/out-tsc
/bazel-out

# Node
angular/node_modules
angular/npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/AnimalKingdom.Mobile/local.settings.json
/AnimalKingdom.Mobile/appsettings.*.json
/AnimalKingdom.Mobile/[Dd]ebug/
/AnimalKingdom.Mobile/[Dd]ebugPublic/
/AnimalKingdom.Mobile/[Rr]elease/
/AnimalKingdom.Mobile/[Rr]eleases/
/AnimalKingdom.Mobile/x64/
/AnimalKingdom.Mobile/x86/
/AnimalKingdom.Mobile/bld/
/AnimalKingdom.Mobile/[Bb]in/
/AnimalKingdom.Mobile/[Oo]bj/
/AnimalKingdom.Mobile/[Ll]og/

/AnimalKingdom.API/local.settings.json
/AnimalKingdom.API/appsettings.*.json
/AnimalKingdom.API/[Dd]ebug/
/AnimalKingdom.API/[Dd]ebugPublic/
/AnimalKingdom.API/[Rr]elease/
/AnimalKingdom.API/[Rr]eleases/
/AnimalKingdom.API/x64/
/AnimalKingdom.API/x86/
/AnimalKingdom.API/bld/
/AnimalKingdom.API/[Bb]in/
/AnimalKingdom.API/[Oo]bj/
/AnimalKingdom.API/[Ll]og/

/AnimalKingdom.Shared/local.settings.json
/AnimalKingdom.Shared/appsettings.*.json
/AnimalKingdom.Shared/[Dd]ebug/
/AnimalKingdom.Shared/[Dd]ebugPublic/
/AnimalKingdom.Shared/[Rr]elease/
/AnimalKingdom.Shared/[Rr]eleases/
/AnimalKingdom.Shared/x64/
/AnimalKingdom.Shared/x86/
/AnimalKingdom.Shared/bld/
/AnimalKingdom.Shared/[Bb]in/
/AnimalKingdom.Shared/[Oo]bj/
/AnimalKingdom.Shared/[Ll]og/