<div class="container">
  <form (ngSubmit)="onEditingAnimal()" [formGroup]="form">
    <br />
    <button class="btn btn-primary pull-left" type="submit">Save Edit</button>
    <button class="btn btn-danger pull-right" type="button" (click)="onCancel()">Cancel</button
    ><br />
    <hr />
    <h2 align="center" style="color: white">
      Edit Details Of the {{ animal.name }}
    </h2>
    <hr />
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="name" id="name">Name</label>
        <input type="text" name="name" formControlName="name" readonly />
        <span
          class="help-block"
          *ngIf="!form.get('name').valid && form.get('name').touched"
        >
          <span *ngIf="form.get('name').errors['required']"
            >Please enter a valid name</span
          >
          <span
            *ngIf="
              !form.get('name').errors['validatedName'] &&
              !form.get('name').errors['required']
            "
          >
            An animal with that name already exists
          </span>
        </span>
      </div>
      <div class="form-group col-sm-6">
        <label for="category" id="category">Category</label>
        <select formControlName="category" name="category" required>
          <option value="Carnivore">Carnivore</option>
          <option value="Herbivore">Herbivore</option>
          <option value="Omnivore">Omnivore</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="description" id="description">Description</label>
        <textarea
          name="description"
          id="description"
          required
          formControlName="description"
          rows="12"
        ></textarea>
        <span
          class="help-block"
          *ngIf="
            !form.get('description').valid && form.get('description').touched
          "
        >
          Please enter a description for the animal</span
        >
      </div>
      <div class="form-group col-sm-6">
        <label for="imagePath" id="imagePath">ImagePath</label>
        <textarea
          name="imagePath"
          id="imagePath"
          formControlName="imagePath"
          rows="3"
          required
        ></textarea>
        <img *ngIf="imageSrc.length>0"
          src="{{ form.get('imagePath').value }}"
          alt="animal image"
          style="max-width: 300px; max-height: 300px"
        />
        <span
          class="help-block"
          *ngIf="!form.get('imagePath').valid && form.get('imagePath').touched"
        >
          Please enter an image path</span
        >
      </div>
    </div>
  </form>
</div>
